src/main/resources/wsdl/CreditApplicationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2322="http://calculator.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ax2323="http://services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ax2326="http://util.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ns="http://credit.services.oks.swkbank.netempire.de"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ax2321="http://credit.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://credit.services.oks.swkbank.netempire.de">
    <wsdl:documentation>CreditApplicationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.types.oks.swkbank.netempire.de/xsd">
            <xs:complexType name="BaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientIdentification" nillable="true" type="ax2323:ClientIdentification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientIdentification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientSessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorDetails" nillable="true" type="ax2323:ErrorDetails"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="affectedProperty" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userFriendlyMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2324="http://services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calculator.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="CalculatorRequest">
                <xs:complexContent>
                    <xs:extension base="ax2324:BaseRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="amount" type="xs:double"/>
                            <xs:element minOccurs="0" name="balloonInstallment" type="xs:double"/>
                            <xs:element minOccurs="0" name="calculationMode" type="xs:int"/>
                            <xs:element minOccurs="0" name="collectionDayOfMonth" type="xs:int"/>
                            <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="deliveryDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="detailedIntendedUse" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="disagioPercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="duration" type="xs:int"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="extraInfo" nillable="true" type="ax2324:Property"/>
                            <xs:element minOccurs="0" name="favoredInstallment" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="handlingChargePercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeSeparateAbsolute" type="xs:double"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="insurance" type="xs:int"/>
                            <xs:element minOccurs="0" name="intendedUse" type="xs:int"/>
                            <xs:element minOccurs="0" name="interestPercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="tariffId" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2328="http://credit.services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://credit.services.oks.swkbank.netempire.de">
            <xs:import namespace="http://credit.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:element name="getServiceNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="applyForCredit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2321:ApplicationRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="applyForCreditResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2321:CreditOffer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.services.types.oks.swkbank.netempire.de/xsd">
            <xs:complexType name="BankingInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountHolder" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankZipCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sortCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="district" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="housenumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2325="http://calculator.services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2327="http://util.services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2329="http://services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://credit.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://calculator.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://util.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="ApplicationRequest">
                <xs:complexContent>
                    <xs:extension base="ax2325:CalculatorRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="collectionAccount" nillable="true" type="ax2327:BankingInformation"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="creditTransfers" nillable="true" type="ax2321:CreditTransfer"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="creditUsers" nillable="true" type="ax2321:CreditUser"/>
                            <xs:element minOccurs="0" name="paymentAccount" nillable="true" type="ax2327:BankingInformation"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CreditTransfer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="account" nillable="true" type="ax2327:BankingInformation"/>
                    <xs:element minOccurs="0" name="intendedUse" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastInstallmentAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="lastInstallmentDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="monthlyInstallmentAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="originalAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="product" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="remainingAmount" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreditUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agreedToSchufaRequest" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="bankCardsInformation" nillable="true" type="ax2321:BankCardsInformation"/>
                    <xs:element minOccurs="0" name="budgetInformation" nillable="true" type="ax2321:BudgetInformation"/>
                    <xs:element minOccurs="0" name="carInformation" nillable="true" type="ax2321:CarInformation"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creditTransfer" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="employmentInformation" nillable="true" type="ax2321:EmploymentInformation"/>
                    <xs:element minOccurs="0" name="familyInformation" nillable="true" type="ax2321:FamilyInformation"/>
                    <xs:element minOccurs="0" name="identificationInformation" nillable="true" type="ax2321:IdentificationInformation"/>
                    <xs:element minOccurs="0" name="person" nillable="true" type="ax2321:Person"/>
                    <xs:element minOccurs="0" name="residencyInformation" nillable="true" type="ax2321:ResidencyInformation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BankCardsInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="creditCard" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ecCard" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ecCardNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BudgetInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alimonyExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="childAllowance" type="xs:int"/>
                    <xs:element minOccurs="0" name="furtherExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="grossIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="insuranceAndSavingsExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="leasingRates" type="xs:int"/>
                    <xs:element minOccurs="0" name="netIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfPersons" type="xs:int"/>
                    <xs:element minOccurs="0" name="otherIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="otherInstallmentExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="propertyExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="propertySquareMeters" type="xs:double"/>
                    <xs:element minOccurs="0" name="propertyValue" type="xs:int"/>
                    <xs:element minOccurs="0" name="reasonForNoRentExpenses" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rentExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="rentIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="tax" type="xs:int"/>
                    <xs:element minOccurs="0" name="taxClass" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="typeOfOtherIncome" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CarInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="car" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="power" type="xs:int"/>
                    <xs:element minOccurs="0" name="yearOfManufacturing" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmploymentInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employedSinceDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="employerAddress" nillable="true" type="ax2327:Address"/>
                    <xs:element minOccurs="0" name="employerChangePlanned" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="employerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="employerPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inProbationaryPeriod" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="industry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="occupationGroup" type="xs:int"/>
                    <xs:element minOccurs="0" name="occupationRole" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="temporary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="temporaryUntil" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FamilyInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="longTermRelationship" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="maritalStatus" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfChildren" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentificationInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="checkedBy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issueDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="birthName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="birthPlace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homeAddress" nillable="true" type="ax2327:Address"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oldAddress" nillable="true" type="ax2327:Address"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="residentAtHomeAddressSince" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResidencyInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="citizenship" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="limitedResidencePermit" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="residencePermitUntilDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreditOffer">
                <xs:complexContent>
                    <xs:extension base="ax2329:BaseResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="availableBudget" type="xs:int"/>
                            <xs:element minOccurs="0" name="cegScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="creditInsuranceAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="creditInsuranceDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="creditInsuranceTariff" type="xs:int"/>
                            <xs:element minOccurs="0" name="creditOfferDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="customerAccountNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="documentNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="duration" type="xs:int"/>
                            <xs:element minOccurs="0" name="effectiveInterest" type="xs:double"/>
                            <xs:element minOccurs="0" name="financeAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="grossCreditAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeAbsolute" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargePercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="informaScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="interestAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="lastInstallmentAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="lastInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="netCreditAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="neuralNetworkInformation" nillable="true" type="ax2321:NeuralNetworkInformation"/>
                            <xs:element minOccurs="0" name="nominalInterest" type="xs:double"/>
                            <xs:element minOccurs="0" name="partnerIdentNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reasonOfDenial" type="xs:int"/>
                            <xs:element minOccurs="0" name="schufaInformation" nillable="true" type="ax2321:SchufaInformation"/>
                            <xs:element minOccurs="0" name="schufaScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="status" type="xs:int"/>
                            <xs:element minOccurs="0" name="totalCreditAmount" type="xs:double"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="NeuralNetworkInformation">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="characteristics" nillable="true" type="ax2321:NeuralNetworkCharacteristic"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NeuralNetworkCharacteristic">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sensitivity" type="xs:float"/>
                    <xs:element minOccurs="0" name="value" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchufaInformation">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schufaRecords" nillable="true" type="ax2321:SchufaRecord"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchufaRecord">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageLines" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getServiceIdRequest"/>
    <wsdl:message name="getServiceIdResponse">
        <wsdl:part name="parameters" element="ns:getServiceIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceVersionRequest"/>
    <wsdl:message name="getServiceVersionResponse">
        <wsdl:part name="parameters" element="ns:getServiceVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="applyForCreditRequest">
        <wsdl:part name="parameters" element="ns:applyForCredit"/>
    </wsdl:message>
    <wsdl:message name="applyForCreditResponse">
        <wsdl:part name="parameters" element="ns:applyForCreditResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceNameRequest"/>
    <wsdl:message name="getServiceNameResponse">
        <wsdl:part name="parameters" element="ns:getServiceNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationVersionRequest"/>
    <wsdl:message name="getApplicationVersionResponse">
        <wsdl:part name="parameters" element="ns:getApplicationVersionResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditApplicationServicePortType">
        <wsdl:operation name="getServiceId">
            <wsdl:input message="ns:getServiceIdRequest" wsaw:Action="urn:getServiceId"/>
            <wsdl:output message="ns:getServiceIdResponse" wsaw:Action="urn:getServiceIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <wsdl:input message="ns:getServiceVersionRequest" wsaw:Action="urn:getServiceVersion"/>
            <wsdl:output message="ns:getServiceVersionResponse" wsaw:Action="urn:getServiceVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="applyForCredit">
            <wsdl:input message="ns:applyForCreditRequest" wsaw:Action="urn:applyForCredit"/>
            <wsdl:output message="ns:applyForCreditResponse" wsaw:Action="urn:applyForCreditResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <wsdl:input message="ns:getServiceNameRequest" wsaw:Action="urn:getServiceName"/>
            <wsdl:output message="ns:getServiceNameResponse" wsaw:Action="urn:getServiceNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <wsdl:input message="ns:getApplicationVersionRequest" wsaw:Action="urn:getApplicationVersion"/>
            <wsdl:output message="ns:getApplicationVersionResponse" wsaw:Action="urn:getApplicationVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditApplicationServiceSoap11Binding" type="ns:CreditApplicationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceId">
            <soap:operation soapAction="urn:getServiceId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <soap:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="applyForCredit">
            <soap:operation soapAction="urn:applyForCredit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <soap:operation soapAction="urn:getApplicationVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditApplicationServiceSoap12Binding" type="ns:CreditApplicationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceId">
            <soap12:operation soapAction="urn:getServiceId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <soap12:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="applyForCredit">
            <soap12:operation soapAction="urn:applyForCredit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap12:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <soap12:operation soapAction="urn:getApplicationVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditApplicationServiceHttpBinding" type="ns:CreditApplicationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getServiceId">
            <http:operation location="CreditApplicationService/getServiceId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceId"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceId"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <http:operation location="CreditApplicationService/getServiceVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="applyForCredit">
            <http:operation location="CreditApplicationService/applyForCredit"/>
            <wsdl:input>
                <mime:content type="text/xml" part="applyForCredit"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="applyForCredit"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <http:operation location="CreditApplicationService/getServiceName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <http:operation location="CreditApplicationService/getApplicationVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getApplicationVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getApplicationVersion"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditApplicationService">
        <wsdl:port name="CreditApplicationServiceHttpsSoap11Endpoint" binding="ns:CreditApplicationServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditApplicationServiceHttpSoap11Endpoint" binding="ns:CreditApplicationServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditApplicationServiceHttpsSoap12Endpoint" binding="ns:CreditApplicationServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditApplicationServiceHttpSoap12Endpoint" binding="ns:CreditApplicationServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditApplicationServiceHttpEndpoint" binding="ns:CreditApplicationServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditApplicationServiceHttpsEndpoint" binding="ns:CreditApplicationServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/CreditApplicationService.CreditApplicationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
