src/main/resources/wsdl/PdfGenerationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://pdf.services.oks.swkbank.netempire.de"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ax283="http://services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax282="http://pdf.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://pdf.services.oks.swkbank.netempire.de">
    <wsdl:documentation>PdfGenerationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax285="http://pdf.services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pdf.services.oks.swkbank.netempire.de">
            <xs:import namespace="http://pdf.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:element name="generatePdf">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax285:PdfGenerationRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generatePdfResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax285:PdfGenerationResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generatePdfExtended">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax285:PdfGenerationExtendedRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generatePdfExtendedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax285:PdfGenerationResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.types.oks.swkbank.netempire.de/xsd">
            <xs:complexType name="BaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientIdentification" nillable="true" type="ax283:ClientIdentification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientIdentification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientSessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorDetails" nillable="true" type="ax283:ErrorDetails"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="affectedProperty" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userFriendlyMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax284="http://services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pdf.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="PdfGenerationRequest">
                <xs:complexContent>
                    <xs:extension base="ax284:BaseRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="customerAccountNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="pdfGenerationRequestType" type="xs:int"/>
                            <xs:element minOccurs="0" name="withCreditTranferForm" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PdfGenerationResponse">
                <xs:complexContent>
                    <xs:extension base="ax284:BaseResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary"/>
                            <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PdfGenerationExtendedRequest">
                <xs:complexContent>
                    <xs:extension base="ax282:PdfGenerationRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="encrypt" type="xs:boolean"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="extraInfo" nillable="true" type="ax284:Property"/>
                            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getServiceIdRequest"/>
    <wsdl:message name="getServiceIdResponse">
        <wsdl:part name="parameters" element="ns:getServiceIdResponse"/>
    </wsdl:message>
    <wsdl:message name="generatePdfExtendedRequest">
        <wsdl:part name="parameters" element="ns:generatePdfExtended"/>
    </wsdl:message>
    <wsdl:message name="generatePdfExtendedResponse">
        <wsdl:part name="parameters" element="ns:generatePdfExtendedResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceVersionRequest"/>
    <wsdl:message name="getServiceVersionResponse">
        <wsdl:part name="parameters" element="ns:getServiceVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="generatePdfRequest">
        <wsdl:part name="parameters" element="ns:generatePdf"/>
    </wsdl:message>
    <wsdl:message name="generatePdfResponse">
        <wsdl:part name="parameters" element="ns:generatePdfResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceNameRequest"/>
    <wsdl:message name="getServiceNameResponse">
        <wsdl:part name="parameters" element="ns:getServiceNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationVersionRequest"/>
    <wsdl:message name="getApplicationVersionResponse">
        <wsdl:part name="parameters" element="ns:getApplicationVersionResponse"/>
    </wsdl:message>
    <wsdl:portType name="PdfGenerationServicePortType">
        <wsdl:operation name="getServiceId">
            <wsdl:input message="ns:getServiceIdRequest" wsaw:Action="urn:getServiceId"/>
            <wsdl:output message="ns:getServiceIdResponse" wsaw:Action="urn:getServiceIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generatePdfExtended">
            <wsdl:input message="ns:generatePdfExtendedRequest" wsaw:Action="urn:generatePdfExtended"/>
            <wsdl:output message="ns:generatePdfExtendedResponse" wsaw:Action="urn:generatePdfExtendedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <wsdl:input message="ns:getServiceVersionRequest" wsaw:Action="urn:getServiceVersion"/>
            <wsdl:output message="ns:getServiceVersionResponse" wsaw:Action="urn:getServiceVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generatePdf">
            <wsdl:input message="ns:generatePdfRequest" wsaw:Action="urn:generatePdf"/>
            <wsdl:output message="ns:generatePdfResponse" wsaw:Action="urn:generatePdfResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <wsdl:input message="ns:getServiceNameRequest" wsaw:Action="urn:getServiceName"/>
            <wsdl:output message="ns:getServiceNameResponse" wsaw:Action="urn:getServiceNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <wsdl:input message="ns:getApplicationVersionRequest" wsaw:Action="urn:getApplicationVersion"/>
            <wsdl:output message="ns:getApplicationVersionResponse" wsaw:Action="urn:getApplicationVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PdfGenerationServiceSoap11Binding" type="ns:PdfGenerationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceId">
            <soap:operation soapAction="urn:getServiceId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdfExtended">
            <soap:operation soapAction="urn:generatePdfExtended" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <soap:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdf">
            <soap:operation soapAction="urn:generatePdf" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <soap:operation soapAction="urn:getApplicationVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PdfGenerationServiceSoap12Binding" type="ns:PdfGenerationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceId">
            <soap12:operation soapAction="urn:getServiceId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdfExtended">
            <soap12:operation soapAction="urn:generatePdfExtended" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <soap12:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdf">
            <soap12:operation soapAction="urn:generatePdf" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap12:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <soap12:operation soapAction="urn:getApplicationVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PdfGenerationServiceHttpBinding" type="ns:PdfGenerationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getServiceId">
            <http:operation location="PdfGenerationService/getServiceId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceId"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceId"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdfExtended">
            <http:operation location="PdfGenerationService/generatePdfExtended"/>
            <wsdl:input>
                <mime:content type="text/xml" part="generatePdfExtended"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="generatePdfExtended"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceVersion">
            <http:operation location="PdfGenerationService/getServiceVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generatePdf">
            <http:operation location="PdfGenerationService/generatePdf"/>
            <wsdl:input>
                <mime:content type="text/xml" part="generatePdf"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="generatePdf"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <http:operation location="PdfGenerationService/getServiceName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationVersion">
            <http:operation location="PdfGenerationService/getApplicationVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getApplicationVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getApplicationVersion"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PdfGenerationService">
        <wsdl:port name="PdfGenerationServiceHttpSoap11Endpoint" binding="ns:PdfGenerationServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PdfGenerationServiceHttpsSoap11Endpoint" binding="ns:PdfGenerationServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PdfGenerationServiceHttpSoap12Endpoint" binding="ns:PdfGenerationServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PdfGenerationServiceHttpsSoap12Endpoint" binding="ns:PdfGenerationServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PdfGenerationServiceHttpEndpoint" binding="ns:PdfGenerationServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="PdfGenerationServiceHttpsEndpoint" binding="ns:PdfGenerationServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/PdfGenerationService.PdfGenerationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
