src/main/resources/wsdl/PreCheckService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2257="http://credit.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ax2258="http://calculator.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ax2259="http://services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:ns="http://creditdecision.services.oks.swkbank.netempire.de"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ax2262="http://util.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ax2265="http://creditdecision.services.types.oks.swkbank.netempire.de/xsd"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://creditdecision.services.oks.swkbank.netempire.de">
    <wsdl:documentation>PreCheckService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2269="http://creditdecision.services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2264="http://credit.services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://creditdecision.services.oks.swkbank.netempire.de">
            <xs:import namespace="http://credit.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://creditdecision.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:element name="getServiceVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkForCredit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2264:ApplicationRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkForCreditResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2265:PreCheckResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.types.oks.swkbank.netempire.de/xsd">
            <xs:complexType name="BaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientIdentification" nillable="true" type="ax2259:ClientIdentification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientIdentification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientSessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorDetails" nillable="true" type="ax2259:ErrorDetails"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="affectedProperty" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userFriendlyMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2260="http://services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calculator.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="CalculatorRequest">
                <xs:complexContent>
                    <xs:extension base="ax2260:BaseRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="amount" type="xs:double"/>
                            <xs:element minOccurs="0" name="balloonInstallment" type="xs:double"/>
                            <xs:element minOccurs="0" name="calculationMode" type="xs:int"/>
                            <xs:element minOccurs="0" name="collectionDayOfMonth" type="xs:int"/>
                            <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="deliveryDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="detailedIntendedUse" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="disagioPercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="duration" type="xs:int"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="extraInfo" nillable="true" type="ax2260:Property"/>
                            <xs:element minOccurs="0" name="favoredInstallment" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="handlingChargePercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeSeparateAbsolute" type="xs:double"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="insurance" type="xs:int"/>
                            <xs:element minOccurs="0" name="intendedUse" type="xs:int"/>
                            <xs:element minOccurs="0" name="interestPercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="tariffId" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2268="http://credit.services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2266="http://services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://creditdecision.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://credit.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="PreCheckResponse">
                <xs:complexContent>
                    <xs:extension base="ax2266:BaseResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="creditOffers" nillable="true" type="ax2268:CreditOffer"/>
                            <xs:element minOccurs="0" name="maxCreditAmount" type="xs:int"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="riskClasses" nillable="true" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.services.types.oks.swkbank.netempire.de/xsd">
            <xs:complexType name="BankingInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountHolder" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankZipCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sortCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="district" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="housenumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2267="http://services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2261="http://calculator.services.types.oks.swkbank.netempire.de/xsd" xmlns:ax2263="http://util.services.types.oks.swkbank.netempire.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://credit.services.types.oks.swkbank.netempire.de/xsd">
            <xs:import namespace="http://calculator.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://util.services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:import namespace="http://services.types.oks.swkbank.netempire.de/xsd"/>
            <xs:complexType name="ApplicationRequest">
                <xs:complexContent>
                    <xs:extension base="ax2261:CalculatorRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="collectionAccount" nillable="true" type="ax2263:BankingInformation"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="creditTransfers" nillable="true" type="ax2257:CreditTransfer"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="creditUsers" nillable="true" type="ax2257:CreditUser"/>
                            <xs:element minOccurs="0" name="paymentAccount" nillable="true" type="ax2263:BankingInformation"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CreditTransfer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="account" nillable="true" type="ax2263:BankingInformation"/>
                    <xs:element minOccurs="0" name="intendedUse" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastInstallmentAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="lastInstallmentDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="monthlyInstallmentAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="originalAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="product" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="remainingAmount" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreditUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agreedToSchufaRequest" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="bankCardsInformation" nillable="true" type="ax2257:BankCardsInformation"/>
                    <xs:element minOccurs="0" name="budgetInformation" nillable="true" type="ax2257:BudgetInformation"/>
                    <xs:element minOccurs="0" name="carInformation" nillable="true" type="ax2257:CarInformation"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creditTransfer" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="employmentInformation" nillable="true" type="ax2257:EmploymentInformation"/>
                    <xs:element minOccurs="0" name="familyInformation" nillable="true" type="ax2257:FamilyInformation"/>
                    <xs:element minOccurs="0" name="identificationInformation" nillable="true" type="ax2257:IdentificationInformation"/>
                    <xs:element minOccurs="0" name="person" nillable="true" type="ax2257:Person"/>
                    <xs:element minOccurs="0" name="residencyInformation" nillable="true" type="ax2257:ResidencyInformation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BankCardsInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="creditCard" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ecCard" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ecCardNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BudgetInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alimonyExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="childAllowance" type="xs:int"/>
                    <xs:element minOccurs="0" name="furtherExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="grossIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="insuranceAndSavingsExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="leasingRates" type="xs:int"/>
                    <xs:element minOccurs="0" name="netIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfPersons" type="xs:int"/>
                    <xs:element minOccurs="0" name="otherIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="otherInstallmentExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="propertyExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="propertySquareMeters" type="xs:double"/>
                    <xs:element minOccurs="0" name="propertyValue" type="xs:int"/>
                    <xs:element minOccurs="0" name="reasonForNoRentExpenses" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rentExpenses" type="xs:int"/>
                    <xs:element minOccurs="0" name="rentIncome" type="xs:int"/>
                    <xs:element minOccurs="0" name="tax" type="xs:int"/>
                    <xs:element minOccurs="0" name="taxClass" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="typeOfOtherIncome" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CarInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="car" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="power" type="xs:int"/>
                    <xs:element minOccurs="0" name="yearOfManufacturing" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmploymentInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employedSinceDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="employerAddress" nillable="true" type="ax2263:Address"/>
                    <xs:element minOccurs="0" name="employerChangePlanned" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="employerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="employerPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inProbationaryPeriod" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="industry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="occupationGroup" type="xs:int"/>
                    <xs:element minOccurs="0" name="occupationRole" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="temporary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="temporaryUntil" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FamilyInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="longTermRelationship" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="maritalStatus" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfChildren" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentificationInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="checkedBy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issueDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="birthName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="birthPlace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homeAddress" nillable="true" type="ax2263:Address"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oldAddress" nillable="true" type="ax2263:Address"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="residentAtHomeAddressSince" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResidencyInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="citizenship" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="limitedResidencePermit" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="residencePermitUntilDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreditOffer">
                <xs:complexContent>
                    <xs:extension base="ax2259:BaseResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="availableBudget" type="xs:int"/>
                            <xs:element minOccurs="0" name="cegScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="creditInsuranceAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="creditInsuranceDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="creditInsuranceTariff" type="xs:int"/>
                            <xs:element minOccurs="0" name="creditOfferDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="customerAccountNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="documentNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="duration" type="xs:int"/>
                            <xs:element minOccurs="0" name="effectiveInterest" type="xs:double"/>
                            <xs:element minOccurs="0" name="financeAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="firstInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="grossCreditAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeAbsolute" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargeAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="handlingChargePercentage" type="xs:double"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="informaScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="interestAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="lastInstallmentAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="lastInstallmentDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="netCreditAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="neuralNetworkInformation" nillable="true" type="ax2257:NeuralNetworkInformation"/>
                            <xs:element minOccurs="0" name="nominalInterest" type="xs:double"/>
                            <xs:element minOccurs="0" name="partnerIdentNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reasonOfDenial" type="xs:int"/>
                            <xs:element minOccurs="0" name="schufaInformation" nillable="true" type="ax2257:SchufaInformation"/>
                            <xs:element minOccurs="0" name="schufaScore" type="xs:int"/>
                            <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="status" type="xs:int"/>
                            <xs:element minOccurs="0" name="totalCreditAmount" type="xs:double"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="NeuralNetworkInformation">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="characteristics" nillable="true" type="ax2257:NeuralNetworkCharacteristic"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NeuralNetworkCharacteristic">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sensitivity" type="xs:float"/>
                    <xs:element minOccurs="0" name="value" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchufaInformation">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schufaRecords" nillable="true" type="ax2257:SchufaRecord"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchufaRecord">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageLines" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getServiceVersionRequest"/>
    <wsdl:message name="getServiceVersionResponse">
        <wsdl:part name="parameters" element="ns:getServiceVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="checkForCreditRequest">
        <wsdl:part name="parameters" element="ns:checkForCredit"/>
    </wsdl:message>
    <wsdl:message name="checkForCreditResponse">
        <wsdl:part name="parameters" element="ns:checkForCreditResponse"/>
    </wsdl:message>
    <wsdl:portType name="PreCheckServicePortType">
        <wsdl:operation name="getServiceVersion">
            <wsdl:input message="ns:getServiceVersionRequest" wsaw:Action="urn:getServiceVersion"/>
            <wsdl:output message="ns:getServiceVersionResponse" wsaw:Action="urn:getServiceVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkForCredit">
            <wsdl:input message="ns:checkForCreditRequest" wsaw:Action="urn:checkForCredit"/>
            <wsdl:output message="ns:checkForCreditResponse" wsaw:Action="urn:checkForCreditResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PreCheckServiceSoap11Binding" type="ns:PreCheckServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceVersion">
            <soap:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkForCredit">
            <soap:operation soapAction="urn:checkForCredit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PreCheckServiceSoap12Binding" type="ns:PreCheckServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServiceVersion">
            <soap12:operation soapAction="urn:getServiceVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkForCredit">
            <soap12:operation soapAction="urn:checkForCredit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PreCheckServiceHttpBinding" type="ns:PreCheckServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getServiceVersion">
            <http:operation location="PreCheckService/getServiceVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceVersion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkForCredit">
            <http:operation location="PreCheckService/checkForCredit"/>
            <wsdl:input>
                <mime:content type="text/xml" part="checkForCredit"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="checkForCredit"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PreCheckService">
        <wsdl:port name="PreCheckServiceHttpSoap11Endpoint" binding="ns:PreCheckServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PreCheckServiceHttpsSoap11Endpoint" binding="ns:PreCheckServiceSoap11Binding">
            <soap:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PreCheckServiceHttpsSoap12Endpoint" binding="ns:PreCheckServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PreCheckServiceHttpSoap12Endpoint" binding="ns:PreCheckServiceSoap12Binding">
            <soap12:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PreCheckServiceHttpsEndpoint" binding="ns:PreCheckServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="PreCheckServiceHttpEndpoint" binding="ns:PreCheckServiceHttpBinding">
            <http:address location="https://apitest2.swkbank.de/services/PreCheckService.PreCheckServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
